build
.tfdocs-config.yml
.terraform*
mkdocs
*.tfstate
*.tfstate.backup
.vscode

.cursorrules
CURSOR_RESEARCH.md
REFACTORING_PLAN.md

# Ignore .terraform directories
**/.terraform/*

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log
crash.*.log

# Ignore .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore tfplan files
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore deprecated files
*.deprecated

# Ignore generated Terraform environments
02_infrastructure/generated/